@{
    ViewData["Title"] = "Registration Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Registration Page!</h1>
</div>

<form action="RResult">
    <h1>Sign up as a New User.</h1>

    <p>Username:</p>
    <input type="text" name="Username" />

    <p>Email:</p>
    <input type="email" name="Email" />

    <p>Password:</p>
    <input type="password" name="Password" />
    <input type="submit">
</form>
